
<!-- <div class="col-md-3"></div>
<div class="col-md-6">
  <div class="card gap">
  </div>

</div>
<div class="col-md-3"></div> -->

<div class="container">
  <div class="card-header">
      <h1 class="new-post-title">Create New Post</h1>
  </div>
  <hr>

  <h2>{{addBlog}}</h2>
  <div class="card-body">
      <form [formGroup]="post" (ngSubmit)="getpost()">
        <div class="author">
          <label for="author">Author:</label>
          <input type="text" id="author" formControlName ="author" [(ngModel)]="userCreateBlog.author" value="{{author}}" >
        </div>

      <div class="form-group">
          <label class="post-title">Enter title here</label>
          <input type="text" formControlName ="blogTitle" [(ngModel)]="userCreateBlog.blogTitle" placeholder="Create Title">
      </div><br>
      <div class="select-category">
        <label >Select a category:</label>
          <select  (change)="getId($event)" formControlName="catId" [(ngModel)]="userCreateBlog.catId" >
            <!-- <option value="">please select value</option> -->
              <option  *ngFor="let item of listArray"  [value]=item.id >{{item.name}}</option>

          </select>
      </div>
      <div class="form-group">
                <label class="post">Create a post</label><br>
                <textarea style="width: 300px;height: 300px;" formControlName="blogDescription"[(ngModel)]="userCreateBlog.blogDescription" ></textarea>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" (click)="navicate()">Submit Post</button>
      </div>
  </form>
</div>

</div>

