
<div class="container-fluid header ">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 title" > <h1>Welcome To My Blog</h1> </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
    <div class="col-md-2" ><a class="nav" [routerLink]="['/home']" >Home</a></div>
    <div class="col-md-2"><li class="dropdown">
        <a  >Category</a>
        <ul  class="dropdown-content">
            <li class="dropdown-class" *ngFor="let item of listArray"><a (click)="Navigate(item.id)">
             {{item.name}}</a></li>
        </ul>
    </li></div>


    <div class="col-md-2 " ><a class="nav" [routerLink]="['createblog']" >Create a Blog</a></div>

    <div class="col-md-2">
      <li class="dropdown">
      <a class="nav">Profile</a>
      <ul  class="dropdown-content">
          <li class="dropdown-class" *ngFor="let item of profileArray"><a (click)="profileNavigate(item.id)">
          {{item.name}}</a></li>
      </ul>
      </li>
    </div>

    <div class=" col-md-4 search-bar">
      <input #inputfield class="search-input" type="text"  placeholder="Search..">
      <button  class="searchbutton" (click)="submit(inputfield.value)">click</button>
    </div>

  </div>
</div>
<!-- <span class="glyphicon glyphicon-envelope"></span> {{item.comments}} -->












