/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}
.title{
  text-align: center;
}
.nav{
  color: whitesmoke;
}

.header{
    background-color: #007bff;
    color: aliceblue;
    position: sticky;
    margin-top: 0px;
    /* position: fixed;
    z-index: 1;
    top: 0px; */
}.header

/* Navbar styles */

a{
    text-decoration: none;
}






/* .nav-links li {
    margin-right: 100px;
} */

/* .nav-links a {
    text-decoration: none;
    color: #fff;
} */

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-class{
  height: 28px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    min-height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none; /* Remove bullet points */
    padding: 0;

}
.dropdown-content li {
    margin: 0;
    padding: 0;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    cursor: pointer;

}

.dropdown-content a:hover {
    background-color: #007bff; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ... (previous CSS styles) */

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.search-bar input {
    flex: 1; /* Take up the remaining space in the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Add space between input and button */
}

.searchbutton {
    background: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;

}

/* Adjust the size and styles of the search icon as needed */
  /* .search-button img {
      width: 24px;
      height: 24px;
  } */

/* ... (previous CSS styles) */

.category-section, .popular-articles-section ,.java-section , .python-section,.webtech-section,.db-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.category-header , .articles-header,.java-header,.python-header,.webtech-header,.db-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-header h2 ,.articles-header h2,.java-header h2,.python-header h2,.webtech-header h2,.db-header h2 {
    font-size: 24px;
}

.category-header a , .articles-header a,.java-header a,.python-header a,.webtech-header a,.db-header a {
    text-decoration: none;
    color: #007bff;
}

.category-grid , .article-grid,.java-grid,.python-grid,.webtech-grid,.db-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.category-item , .article-item,.java-item,.python-item,.webtech-item,.db-item {
    flex-basis: calc(20% - 20px); /* 3 items per row with spacing */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.category-item img ,.article-item img,.java-item img,.python-item img,.webtech-item img,.db-item img {
    max-width: 100%;
}

.category-item h3 , .article-item h3,.java-item h3,.python-item h3,.webtech-item h3,.db-item h3{
    margin-top: 10px;
}

/* Adjust the sizes and styles as needed */


/* .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */

/* Content styles */
/* .content {
    padding: 20px;
} */



/* ... (previous CSS styles) */

/* .article-interactions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} */

/* .like-comment {
    display: flex;
    align-items: center;
    margin-right: 10px;
} */

/* .like-count, .comment-count {
    margin-right: 5px;
    font-weight: bold;
} */

.like-button, .comment-button ,.share-button{
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
}

/* .like-button:hover, .comment-button:hover {
    text-decoration: underline;
} */



.more-articles-button {
    text-align: center;
    margin-top: 20px;
}

.more-articles-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.more-articles-button button:hover {
    background-color: #0056b3;
}


.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
.search-input{
  color: black;
}
