<div class="container gap">
  <div class="row">
    <h1 class="text-danger">My Blogs</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of myBlogs">
      <div class="box">
        <div class="row align-items-start titlespace">
          <h1 class="text-success">{{item.blogTitle}}</h1>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6">{{item.formattedTimestamp}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4">
             <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
            <span>{{item.likes}}</span>
          </button>
        </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-share-alt"></span> Share
            </button>
          </div>
          <div class="col-md-4">
             <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-envelope"></span> {{item.comments}}
        </button>
          </div>
      </div>

        <div class="row align-items-end">
        <div class="col-md-6">
          <button class="btn btn-primary">Edit Blog</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger" (click)="deleteMyBlogs(item.blogId)">Delete Blog</button>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
