.box {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  height: 60vh;
  margin-top: 40px;
  margin-bottom: 40px;
}
.gap{
  margin-top: 20px;
}
.titlespace{
  height:200px ;
}
a{
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-class{
  height: 28px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  min-height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none; /* Remove bullet points */
  padding: 0;

}
.dropdown:hover .dropdown-content {
  display: block;
}
