<!--
<div class="container crt">

  <h1 class="display-1 text-center ">My Profile</h1>

    <img class="rounded-circle" style="width:100px;height: 20vh;" [src]="urllink" alt="Loading">

    <input type="file" class="btn btn-primary btn-sm" (change)="selectFiles($event)">
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-header">Edit Profile
                  <span class="glyphicon glyphicon-pencil"></span>
              </div>
              <div class="card-body">

                  <form  >
                      <div class="form-group">
                          <label for="u_name">Name</label>
                      <input type="text" id="u_name" name="user_name" class="form-control" placeholder="Enter your name" formControlName ="author">
                      </div>
                      <div class="form-group">
                          <label for="phone">Mobile no</label>
                      <input type="number" id="phone" class="form-control" name="user_number" placeholder="Enter your number">
                      </div>
                      <div class="form-group">
                          <label for="Email">Email Id</label>
                      <input type="email" id="Email" name="user_Email" class="form-control" placeholder="Enter your mail-id">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">submit</button>
                      </div>

                  </form>
              </div>
          </div>

      </div>
      <div class="col-sm-3"></div>
  </div>
</div>
 -->


 <div class="edit-profile-container">
  <div class="profile-pic">
    <img [src]="user.profilePic || 'default-profile.jpg'" alt="Profile Picture">
    <button (click)="editProfilePic()">Edit</button>
  </div>

  <div class="field">
    <label>Username:</label>
    <div *ngIf="!editUsername">
      {{user.username}}
      <button (click)="editUsername = true">Edit</button>
    </div>
    <div *ngIf="editUsername">
      <input [(ngModel)]="user.username" />
      <button (click)="editUsername = false">Save</button>
    </div>
  </div>

  <div class="field">
    <label>Email:</label>
    <div *ngIf="!editEmail">
      {{user.email}}
      <button (click)="editEmail = true">Edit</button>
    </div>
    <div *ngIf="editEmail">
      <input [(ngModel)]="user.email" />
      <button (click)="editEmail = false">Save</button>
    </div>
  </div>

  <div class="field">
    <label>Password:</label>
    <div *ngIf="!editPassword">
      **********
      <button (click)="editPassword = true">Change Password</button>
    </div>
    <div *ngIf="editPassword">
      <input type="password" [(ngModel)]="user.password" />
      <button (click)="editPassword = false">Save</button>
    </div>
  </div>

  <div class="field">
    <label>Contact Number:</label>
    <div *ngIf="!editContact">
      {{user.contactNumber}}
      <button (click)="editContact = true">Edit</button>
    </div>
    <div *ngIf="editContact">
      <input [(ngModel)]="user.contactNumber" />
      <button (click)="editContact = false">Save</button>
    </div>
  </div>

  <button (click)="toggleMoreInfo()">Add More Info</button>
  <div *ngIf="showMoreInfo">
    <!-- Add more fields like age, dob, address, city, state here -->
  </div>

  <div class="buttons">
    <button (click)="cancel()">Cancel</button>
    <button (click)="saveChanges()">Save Changes</button>
  </div>
</div>
