<h2 style="text-align: center;">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 color"r style="background-color: gray;">
      <form [formGroup]="login" (ngSubmit)="logindata()">
        <br><br>
        <input type="email" placeholder="Email" formControlName="email"><br>
        <span *ngIf="vemail && vemail.invalid && vemail.touched" >Enter valid Email Id</span>
        <br>
        <br>
        <input type="password" placeholder="password" formControlName="password"><br>
        <span *ngIf="vpassword && vpassword.invalid && vpassword.touched" >Enter valid password</span>
       <br>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div>
        <h4 style="text-align: center;">Dont have an account? <a [routerLink]="['/register']">Register</a></h4>
    </div>

    <div class="col-lg-4"></div>
  </div>
</div>


